
.page-title{
  color: white;
  font-weight: 800;
  padding:0px;
  white-space: pre-wrap;
  height: 100px;
  margin:0px;
  text-shadow: 
  0 0 1px rgba(124, 0, 124, 0.75),
  0 0 2px rgba(124, 0, 124, 0.75),
  0 0 3px rgba(124, 0, 124, 0.75),
  0 0 4px rgba(124, 0, 124, 0.75),
  0 0 5px rgba(124, 0, 124, 0.75),
  0 0 6px rgba(124, 0, 124, 0.75),
  0 0 7px rgba(124, 0, 124, 0.75),
  0 0 8px rgba(124, 0, 124, 0.75),
  0 0 9px rgba(124, 0, 124, 0.75);
  margin-bottom: 30px;
}



.tile-surround {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: rgba(228, 228, 228);
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(124, 0, 124, 0.75);
}

.tile-container {
  max-width: 800px;
  margin: 0 auto;
}

.tile-name {
  width: 150px;
  margin-left: 20px;
  text-align: left;
  align-content: center;
  margin-top: 10px;
  text-shadow: 
  0 0 1px rgba(255, 238, 0, 0.1),
  0 0 2px rgba(255, 238, 0, 0.1),
  0 0 3px rgba(255, 238, 0, 0.1),
  0 0 4px rgba(255, 238, 0, 0.1),
  0 0 5px rgba(255, 238, 0, 0.1),
  0 0 6px rgba(255, 238, 0, 0.1),
  0 0 7px rgba(255, 238, 0, 0.1),
  0 0 8px rgba(255, 238, 0, 0.1),
  0 0 9px rgba(255, 238, 0, 0.1);
}

a:link {
  color: yellow;
}

a:visited {
  color: gold;
}

.tile-proof {
  
  text-align: right;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.tile-details {
  text-align: right;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.tile-buttons {
width: 100px;
}

.tile-button {
  border-radius: 6px;
  width: 80px;
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  color: rgb(98, 161, 255);
  text-shadow: 
  0 0 1px rgba(0, 238, 255, 0.1),
  0 0 2px rgba(0, 238, 255, 0.1),
  0 0 3px rgba(0, 238, 255, 0.1),
  0 0 4px rgba(0, 238, 255, 0.1),
  0 0 5px rgba(0, 238, 255, 0.1),
  0 0 6px rgba(0, 238, 255, 0.1),
  0 0 7px rgba(0, 238, 255, 0.1),
  0 0 8px rgba(0, 238, 255, 0.1),
  0 0 9px rgba(0, 238, 255, 0.1);
  height: 32px;
  border: 2px solid rgb(0, 174, 255);
  background-color: rgba(255, 255, 255, 0);
  font-size: 18px;
  font-weight: 600px;
  cursor: pointer;
}



.tile-button:hover {
  color: rgb(189, 231, 255);
  border: 2px solid rgb(189, 231, 255);
  background-color: rgb(0, 174, 255);
}


.tile-text-area {
  background-color: rgba(255, 255, 255, 0.637);
  margin: 0px 10px 5px 10px;
  color: rgb(69, 0, 71);
  font-weight: 600;
  text-shadow: 
  0 0 1px rgba(234, 0, 255, 0.06),
  0 0 2px rgba(234, 0, 255, 0.06),
  0 0 3px rgba(234, 0, 255, 0.06),
  0 0 4px rgba(234, 0, 255, 0.06),
  0 0 5px rgba(234, 0, 255, 0.06),
  0 0 6px rgba(234, 0, 255, 0.06),
  0 0 7px rgba(234, 0, 255, 0.06),
  0 0 8px rgba(234, 0, 255, 0.06),
  0 0 9px rgba(234, 0, 255, 0.06);
}

.tile-glyphs {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
}

 .text-center {
    text-align: center;
 }

  .social-glyph {
    color: rgba(21, 255, 0, 0.808);
    font-size: 25px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-shadow: 
  0 0 1px rgba(60, 255, 0, 0.06),
  0 0 2px rgba(60, 255, 0, 0.06),
  0 0 3px rgba(60, 255, 0, 0.06),
  0 0 4px rgba(60, 255, 0, 0.06),
  0 0 5px rgba(60, 255, 0, 0.06),
  0 0 6px rgba(60, 255, 0, 0.06),
  0 0 7px rgba(60, 255, 0, 0.06),
  0 0 8px rgba(60, 255, 0, 0.06),
  0 0 9px rgba(60, 255, 0, 0.06);
  }

  .tile-number {
    width: 50px;
    padding-left: 16px;
    color: rgb(255, 0, 255);
    text-shadow: 
  0 0 1px rgba(234, 0, 255, 0.06),
  0 0 2px rgba(234, 0, 255, 0.06),
  0 0 3px rgba(234, 0, 255, 0.06),
  0 0 4px rgba(234, 0, 255, 0.06),
  0 0 5px rgba(234, 0, 255, 0.06),
  0 0 6px rgba(234, 0, 255, 0.06),
  0 0 7px rgba(234, 0, 255, 0.06),
  0 0 8px rgba(234, 0, 255, 0.06),
  0 0 9px rgba(234, 0, 255, 0.06);
    
  }

  @media only screen and (max-width: 900px) {
    .tile-surround{
      min-width: 350px;
    }
    
    .tile-buttons {
      width: 93%;;
      min-width: 350px;
      margin: 0 auto;
      position: relative;
    }

    .tile-button {
      width: 93%;
      min-width: 350px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 0px;
      text-align: center;
    }

    .tile-glyphs {
      padding-top: 5px;
      padding-bottom: 10px;
      width: 93%;
      margin: 0 auto;
      position: relative;
    }

    .tile-name {
      text-align: center;
      align-content: center;
      margin-top: 5px;
      min-width: 350px;
    }

    .tile-number {
      text-align: left;
      margin-left: 15px;
      margin-top: 1px;
    }
}

  .twitter-colour {
    color: #38A1F3;
  }

  .reddit-colour {
    color: #ff4301;
  }
  
  .gitlab-colour {
    color: #fc6d26;
  }

  .youtube-colour {
    color: #ff0000;
  }

  .telegram-colour {
    color: #0088cc;
  }

  .chat-colour {
    color: #000000;
  }

  .slack-colour {
    color: #e01563;
  }

  .linkedin-colour {
    color: #0077b5;
  }

  .discord-colour {
    color: #7289da;
  }

  .medium-colour {
    color: #00ab6c;
  }

  .github-colour {
    color: #333;
  }

  .bitbucket-colour {
    color: #205081;
  }
  
  .facebook-colour{
      color: #3b5998;
  }

  .whitepaper-colour{
    color: #000000;
}

.lightpaper-colour{
    color: #424344;
}

.yellowpaper-colour{
    color: #939600;
}

.pinkpaper-colour{
    color: #8d007a;
}

.fundingpaper-colour{
    color: #00520b;
}